---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: starkandwayne/concourse

inputs:
- name: node-exporter-release
- name: pcf-prometheus-git
- name: pcf-bosh-creds

run:
  path: pcf-prometheus-git/pipeline/tasks/install-node-exporter.sh
